.accordion-frame {
	margin: 0 auto;
	max-width: 144.0rem;
	padding: 3.0rem 0;
	.sct-primary &, .primary & {
		border-color: green;
	}
	details {
		padding-left: 0.5rem;
		position: relative;
	}
	summary {
		border-bottom: 0.1rem solid $primary-color;
		display: flex;
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 1.33;
		margin-top: 2.0rem;
		padding: 0 4.0rem 2.0rem 0;
		&:hover {
			cursor: pointer;
		}
		@media screen and (max-width: $bp-medium) {
			align-items: center;
		}
		&::-webkit-details-marker {
			display: none;
		}
		&::after {
			align-items: center;
			background: url($images-folder + '/icon-expand.svg') transparent top left no-repeat;
			content: '';
			display: block;
			height: 1.5rem;
			margin-top: 0.5rem;
			position: absolute;
			right: 1.5rem;
			transition: transform 0.15s ease-in-out;
			width: 1.5rem;
		}
	}
	details[open] {
		summary {
			margin-bottom: 1.5rem;
			&::after {
				transform: rotate(45deg);
			}
		}
	}
}
