footer {
	background-color: $primary-color;
	color: white;
	a {
		color: white;
		position: relative;
		text-decoration: none;
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
}
.footer-frame {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 140.0rem;
	padding: 4.0rem 2.0rem;
	@media screen and (max-width: $bp-medium) {
		display: block;
	}
	@media screen and (max-width: $bp-small) {
		padding: 5.0rem 2.5rem 4.0rem;
	}
}
.footer-subscribe {
	h2 {
		color: white;
		font-size: 2.0rem;
		font-weight: 500;
	}
	form {
		display: flex;
		gap: 2.3rem;
		margin-top: 3.6rem;
		@media screen and (max-width: $bp-medium) {
			max-width: 50.0rem;
		}
		@media screen and (max-width: $bp-small) {
			flex-direction: column;
		}
	}	
	input {
		&[type='email'] {
			border-color: rgba(black, .15);
			padding: 0.5rem 1.0rem 0.4rem;
			width: 100%;
		}
	}
}
.footer-nav {
	display: flex; 
	font-size: 2.0rem;
	gap: 10.0rem;
	line-height: 1;
	@media screen and (max-width: $bp-medium) {
		margin-top: 4.0rem;
	}
	@media screen and (max-width: $bp-small) {
		display: block;
	}
	li {
		margin-bottom: 2.0rem;
	}
}
.footer-header {
	font-weight: 700;
}
.footer-social {
	grid-area: footer-social;
	justify-self: end;
	@media screen and (max-width: $bp-small) {
		display: flex;
		gap: 2.35rem;
	}
	a {
		align-items: center;
		display: flex;
		gap: 1.4rem;
		line-height: 1;
		svg {
			height: 2.0rem;
			margin-top: -0.1rem;
			width: 2.0rem;
			@media screen and (max-width: $bp-small) {
				height: auto;
				max-height: 4.0rem;
				max-width: 4.0rem;
				width: 100%;
			}
		}
	}
}
.footer-bottom {
	background-color: rgba(black, 0.1);
	padding: 1.5rem 0;
}
.footer-utilities {
	align-items: flex-start;
	display: flex;
	gap: 5.0rem;
	justify-content: space-between;
	@media screen and (max-width: $bp-medium) {
		display: block;
	}
	p {
		margin: 0;
	}
}
.utility-nav {
	display: flex;
	@media screen and (max-width: $bp-small) {
		display: block;
	}
	@media screen and (max-width: $bp-medium) {
		margin-top: 3.0rem;
	}
	li {
		white-space: nowrap;
		@media screen and (max-width: $bp-small) {
			margin: 0 0 2.0rem;
		}
		&::after {
			content: '/';
			display: inline-block;
			margin: 0 1.0rem;
			@media screen and (max-width: $bp-small) {
				display: none;
			}
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
	}
}
.btn-subscribe {
	@extend .btn, .btn-tertiary;
	&:hover {
		background-color: white;
		color: $primary-color;
	}
	@media screen and (max-width: $bp-small) {
		display: block;
		width: 100%;
	}
}