// Breakpoints
$bp-mobile: 350px;
$bp-small: 750px;
$bp-medium: 1150px;


// Colors
// Official FRBA colors
$atlanta-fed-blue: #0060a0;
$respect-red: #bf1b23;
$fuchsia: #cc276e;
$integrity-indigo: #5e4fb3;
$teal: #009ec1;
$shamrock-green: #00a871;
$lime-green: #6fa200;
$gold: #ffc400;
$excellence-orange: #ed690e;
$charcoal: #1a1a1a;
$dark-gray: #6f6f6f;
$light-gray: #afafaf;
$marble-column: #f6f6f6;

$primary-color: $atlanta-fed-blue;
$primary-color-alternate: #004878;
$primary-color-accent: #c39a5c;

$secondary-color: #eff2f6;
$content-link: #0073b8;

$error: $respect-red;

// Global Settings
$default-border: 0.1rem solid rgba(0, 0, 0, 0.25);
$default-border-radius: 0.6rem;

// Typography Variables
$header-color: black;

// Misc Variables
$images-folder: '/src/styles/images';