@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import '_reset';
@import '_variables';
@import '_typography';
@import '_mixins';
@import '_forms';
@import '_containers';
@import '_buttons';
@import '_icons';
@import '_header';
@import '_footer';

//Templates
@import '_landings';

// Components
@import '_breadcrumbs';
@import '_tables';
@import '_alert-banner';
@import '_promo-banner';
@import '_color-hero';
@import '_social-follow';
@import '_image-hero';
@import '_homepage-hero';
@import '_spotlights';
@import '_badges';
@import '_content-listing';
@import '_accordions';
@import '_topic-card';

body {
	background-color: #005690;
	overscroll-behavior: none;
	&.mobile-nav-shown {
		overflow: hidden;
	}
}
main {
	background-color: #fefefe;
	contain: content;
	padding: 12.0rem 0;
	@media screen and (max-width: $bp-medium) {
		padding: 5.0rem 0 0;
	}
	.home & {
		background-color: #f9f9f9;
	}
}
nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
p {
	margin: 0 0 2.5rem;
}
sub, sup {
	display: inline-block;
	font-weight: 500;
	position: static;
}
sup {
	margin-top: 0.5rem;
	vertical-align: top;
}
sub {
	vertical-align: bottom;
}
.mobile-only {
	display: none;
	@media screen and (max-width: 1149px) {
		display: block;
	}
}
.desktop-only {
	@media screen and (max-width: $bp-small) {
		@include desktop-only();
	}
}
.margin-tb-large {
	margin-bottom: 4.0rem;
}
.margin-tb-small {
	margin-bottom: 2.0rem;
}
.margin-tb-none {
	margin-bottom: 0;
}
figure {
	padding: 0;
	margin: 2.0rem 0;
	img {
		height: auto;
		width: 100%;
	}
	figcaption {
		border-top: $default-border;
		font-size: 1.4rem;
		font-style: italic;
		margin-top: 1.5rem;
		padding-top: 0.5rem;
	}
}
.figure-left {
	float: left;
	margin: 0 4.0rem 2.0rem 0;
	@media screen and (max-width: $bp-small) {
		float: none;
		margin: 2.0rem;
	}
}
.figure-right {
	float: right;
	margin: 0 0 2.0rem 4.0rem;
	@media screen and (max-width: $bp-small) {
		float: none;
		margin: 2.0rem;
	}
}
code {
	background-color: rgba($dark-gray, .25);
	border: $default-border;
	display: block;
	font-size: 1.6rem;
	margin: 0 0 2.0rem;
	padding: 2.0rem;
}
.grid-frame {
	display: grid;
	gap: 4.0rem;
	&[data-cols="4"] {
		grid-template-columns: repeat(4, 1fr);
		@media screen and (max-width: $bp-medium) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: $bp-small) {
			grid-template-columns: 1fr;
		}
	}
	&[data-cols="3"] {
		grid-template-columns: repeat(3, 1fr);
		@media screen and (max-width: $bp-medium) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: $bp-small) {
			grid-template-columns: 1fr;
		}
	}
	&[data-cols="2"] {
		grid-template-columns: repeat(2, 1fr);
		@media screen and (max-width: $bp-small) {
			grid-template-columns: 1fr;
		}
	}
}